RedirectMatch 404 /\.git

RewriteEngine on
RewriteBase "/beer"

RewriteCond %{REQUEST_URI} !=/beer/index.php
RewriteRule "^([^/]+)$" /beer/index.php?p=$1 [L]
RewriteRule "([^/]+)/([^/]+)" /beer/index.php?p=$1&t=$2 [L]
