[Unit]
Description=IRC beerbot script
Requires=beerbot-connection.service
After=beerbot-connection.service

[Service]
#EnvironmentFile=%h/.config/beerbot.conf
EnvironmentFile=/etc/beerbot.conf
ExecStart=/bin/bash '${BEERBOT_BIN}'
RemainAfterExit=no
Restart=on-failure

[Install]
WantedBy = multi-user.target
